@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
	--DesaturatedRed: hsl(0, 36%, 70%);
	--SoftRed: hsl(0, 93%, 68%);
	--DarkGreyRed: hsl(0, 6%, 24%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
	width: 100vw;
	background-image: url('resource/images/bg-pattern-desktop.svg');
	background-size: cover;
	background-position: left;
	height: 100%;
	overflow-x: hidden;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.cover-image img {
	height: 100%;
	width: 100%;
}

.cover-image {
	height: 100%;
	width: 100%;
}

.hero-content {
	padding: 5rem 15% 0 10%;
	height: auto;
	width: 75;
}

.logo {
	position: absolute;
	top: 10%;
	left: 10%;
}

.pink-highlight {
	color: var(--DesaturatedRed);
	font-weight: 300;
}

h1 {
	font-size: 5rem;
	margin: 2rem auto;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1rem;
	line-height: 1.2;
}

p {
	line-height: 1.7;
	margin-bottom: 2rem;
	color: var(--DesaturatedRed);
}

#email {
	border: 2px solid var(--SoftRed);
	padding: 0.9rem 2rem;
	border-radius: 25px;
	width: 100%;
	outline: none;
	background: transparent;
}

#email::placeholder {
	color: var(--DesaturatedRed);
}

button {
	padding: 0.8rem;
	border-radius: 30px;
	color: #fff;
	position: absolute;
	right: 0%;
	outline: none;
	border: none;
	width: 20%;
	background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

form {
	position: relative;
}

.error-text,
.error-icon {
	position: absolute;
}

.error-icon {
	right: 25%;
	top: 25%
}

.error-text {
	margin: 0.7rem 1.5rem;
	font-size: 14px;
}

.show {
	visibility: visible;
}

a {
	color: var(--SoftRed);
	text-decoration: none;
}

@media (max-width: 1024px) {
	main {
		flex-direction: column-reverse;
		margin-top: 8rem;
	}

	.logo {
		top: 5%;
	}

	.cover-image img {
		display: none;
	}

	.cover-image {
		background-image: url('resource/images/hero-mobile.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

	.hero-content {
		margin: auto 1rem;
		width: 90%;
		text-align: center;
	}
}

@media (max-width: 560px) {
	.hero-content {
		margin: 0;
		width: 100%;
	}

	h1 {
		font-size: 3rem;
		letter-spacing: 1;
	}

	button {
		padding: 0.8rem 1.5rem;
	}
}